// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {
    color: #005580 !important;
    text-decoration: none !important;
}

.hidden_comments {
  margin-left: 50px;
}

.navbar-inner {
  color: #cee3f8 !important;
}

.navbar-default {
  color: #cee3f8 !important;
}
